//fuentes google
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

//variables Sass
$fuenteTexto: "Biryani", helvetica, arial;
$fuenteTitulos: "Open Sans", helvetica, arial;
$fondoGeneral: #f4f4fa;
$fondoColor: linear-gradient(#78b8d0, #76cfca);
$colorTextoPrincipal: #000;
$colorTextoSecundario: #ffffff;
$colorResaltado: #2d5f85;

//mixin
@mixin definirLetra($fuente, $grosor) {
  font-family: $fuente;
  font-weight: $grosor;
}

@mixin definirMedidas($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

//estilos generales
* {
  max-width: 1200px;
  padding: 20;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

body {
  background: $fondoGeneral;
  @include definirLetra($fuenteTexto, 400);
}
main {
  margin-top: 120px;
}
//estilos cabecera
.cabecera {
  display: flex;
  flex-direction: column;
  background: $fondoColor;
  color: $colorTextoSecundario;
  padding: 50px 0;
  @include definirMedidas(100%, 200px);
  .cabecera--titulo {
    @include definirLetra($fuenteTitulos, 600);
    font-size: 60px;
  }
}

//Parte info estilos
.contenedor {
  @include definirMedidas(90%, auto);
  #infoApp {
    margin: 50px 0;
    background: $fondoGeneral;
    color: $colorTextoPrincipal;
    font-size: 16px;
    line-height: 28px;

    .titulo {
      display: flex;
      line-height: 40px;

      color: $colorResaltado;
      font-size: 32px;
      @include definirLetra($fuenteTitulos, 700);
      margin-bottom: 5vw;

      //animación pelota pagina rebotar
      #pelotaRebota {
        animation: rebote 0.5s infinite alternate;
      }
      /* Keyframes para la animación */
      @keyframes rebote {
        0% {
          transform: translateY(0); /* Posición inicial (arriba) */
        }
        100% {
          transform: translateY(100px); /* Posición final (abajo) */
        }
      }
    }

    .perfiles {
      margin-bottom: 10vh;
      p {
        display: inline;
        text-align: center;
      }
      h4 {
        margin: 2vh;
        text-transform: uppercase;
      }
      i {
        padding-right: 3vw;
      }
    }

    .entrenador,
    .jugador,
    .padres {
      margin: 4vh;
    }
    .resaltado {
      color: #525252;
      font-weight: bold;
    }
    #mensajeria {
      font-style: italic;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }
    .exclamacion {
      color: red;
      font-size: 1.5em;
      font-style: italic;
    }
  }
}

hr {
  background-color: $colorResaltado;
  @include definirMedidas(100%, 2px);

  margin: 2vh;
}

//zona galería pagina
#galeria {
  h3 {
    font-size: 22px;

    margin-bottom: 50px;
    @include definirLetra($fuenteTitulos, 600);
  }
  #galeria--video {
    padding: 56.25% 0 0 0;
    position: relative;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  #galeria--introduccion {
    @include definirLetra($fuenteTexto, 400);
    margin-bottom: 100px;
    padding-left: 40px;
    #galeria--introduccion__texto {
      font-size: 20px;
      @include definirLetra($fuenteTitulos, 600);
      font-style: italic;
      color: $colorResaltado;
    }
  }
  #figma {
    a {
      color: inherit;

      text-decoration-color: #76cfca;

      text-decoration-thickness: 3px;
    }
  }
  #flexContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      width: 300px;
      margin: 10px;
      img {
        width: 100%;
      }
      img:hover {
        transform: scale(1.1);
      }
    }
  }
}

//animacion pelota página rodar
#pelotaRueda {
  animation: roll-rotate 8s linear infinite;
}

/* Keyframes para la animación */
@keyframes roll-rotate {
  0% {
    transform: translateX(-396px) rotate(0deg);

    /*Posicióninicial*/
  }
  100% {
    transform: translateX(70vw) rotate(360deg); /* Posición final (borde derecho de la ventana) */
  }
}

footer {
  
  margin-top: 25px;
  margin-bottom:25px;
}
#animation_container {
  width: 1000px;
  height: 300px;
}
#canvas {
  width: 1000px;
  height: 300px;
}
#dom_overlay_container {
  height: 300px;
}

//responsive media queries
@media screen and (max-width: 1160px) {
  #flexContainer .item {
    width: 200px;
  }
  #pelotaRueda {
    animation: roll-rotate 5s linear infinite;
  }
}
@media screen and (max-width: 820px) {
  #pelotaRueda {
    animation: roll-rotate 4s linear infinite;
  }
}
@media screen and (max-width: 660px) {
  #flexContainer .item {
    width: 110px;
  }
}
@media screen and (max-width: 500px) {
  .cabecera--titulo {
    font-size: 50px;
  }
  #flexContainer {
    flex-direction: column;
    .item {
      width: 80vw;
      img {
        margin: 0;
        width: 100%;
      }
    }
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 18px;
  }
  .contenedor article {
    padding: 0;
  }
  hr {
    width: 80vw;
  }
  #pelotaRueda {
    animation: roll-rotate 3s linear infinite;
  }
}
